.body {

    width: 1536px;
    background-image: url(public/game-of-thrones-poster.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.titular {
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.titular h1 {
    color: white;
    font-family: GameOfThrones;
    font-size: 135px;
    text-align: center;
    padding: 50px;
}